<%= javascript_include_tag 'chat_app', 'data-turbolinks-track' => true %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <% if session[:post_title] %>
            <h3 class="panel-title" id="chatbox-header"><a href="<%= session[:post_url] %>" target="_blank"><%= session[:post_title].capitalize %></a></h3>
          <% end %>
        </div>
        <div class="panel-body chat-panel">
          <div id="chat" class="tab-content" data-uri="<%= request.host %>:<%= request.port %>/websocket">
          </div>
        </div>
      </div>
      <form id="input-message">
        <div class="input-group">
          <input type="text" id="message" class="form-control" placeholder="Message..." autofocus autocomplete="off">
          <input hidden value=<%=session[:post_url].downcase%> id="post_url">
          <span class="input-group-btn">
            <button id="send" class="btn btn-primary">Send!</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 id="room-heading" class="panel-title">About This Post</h3>
        </div>
        <div class="panel-body room-panel">
          This <a href="<%= session[:post_url] %>" target="_blank">post</a> was created in the following subreddit:<br>
          <b><%= session[:post_sub] %></b> (<a href="http://reddit.com/r/<%= session[:post_sub] %>" target='_blank'>Reddit</a>, <a href="/r/<%= session[:post_sub] %>" target='_self'>Chatroom</a>)<br><br>
          Original post was authored by reddit user: <a href="http://reddit.com/user/<%= session[:post_author] %>" target='_blank'><%= session[:post_author] %></a>.
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
