<!DOCTYPE html>
<html>
<head>
  <title>RedditChat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if session[:subreddit] %>
    <script data-turbolinks-track="true">var sub = '<%=session[:subreddit].capitalize %>';</script>
  <% end %>
  <script data-turbolinks-track="true">
    var subs = [];
    i = 0;
    <% if session[:subscribed_subreddits] and session[:subreddit] %>
      <% session[:subscribed_subreddits].each do |sub| %>
        <% if sub[0].capitalize != session[:subreddit].capitalize %>
          subs[i] = '<%=sub[0]%>';
          i++;
        <% end %>
      <% end %>
    <% end %>
  </script>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="/assets/header.png"/>
          </a>
        </div>
        <% if session[:username] %>
          <div class="navbar-right">
            <a class="navbar-brand" href="/logout">Logout</a>
          </div>
        <% end %>
      </div>
      <%= yield %>
  </body>
</html>